.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  width: 100%;

  color: $c-gray;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);

  }
}
