.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  box-sizing: border-box;
  height: 200px;
  padding-bottom: 24px;

  background-image: url(../images/footer-bg.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include onTablet {
    height: 480px;
    padding-bottom: 34px;
  }
}
