.menu {
  background-color: $bg-gray;

  &__top {
    @include top-actions;
  }

  &__content {
    box-sizing: border-box;
    padding: $headerTopPadding 0;
    height: 100vh;
  }

  &__list {
    list-style: none;
  }

  &__link {
    text-decoration: none;
  }
}
