.page {
  font-family: "Poppins", sans-serif;

  &__body {
    margin: 0;
    background: $c-gray;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: transform 300ms;
    transform: translateX(100%);

    &:target {
      transform: translateX(0);
    }
  }

  &__section {
    margin-bottom: 60px;

    &-title {
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      text-align: center;
      letter-spacing: -1.5px;

      color: #fff;
    }
  }
}
