@import "utils";
@import "fonts";
@import "typography";

.page {
  font-family: "Poppins", sans-serif;

  &__body {
    margin: 0;
    background: $c-gray;
    color: rgb(43, 48, 48);
  }
}

.header {
  height: 100vh;
  background-image: url(../images/header__background.jpg);
  background-size: cover;
  background-position: center;

  &__menu-opener {
    display: inline-block;
    width: 18px;
    height: 12px;
    // background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &__call {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../images/phone.svg);
  }
}

// .logo {

// }
