@import "utils";
@import "fonts";
@import "typography";

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

.page {
  font-family: "Poppins", sans-serif;

  &__body {
    margin: 0;
    background: $c-gray;
  }
}

.container {
  margin: 0 auto;
  max-width: 744px;
  padding: 0 20px;

  @include onTablet {
    padding: 0 72px;
  }
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    width: 24px;
    height: 24px;
  }

  &--close {
    background-image: url(../images/close.svg);
  }

  &--menu {
    // height: 12px;
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu_hover.svg);
    }
  }

  &--call {
    background-image: url(../images/phone.svg);
    text-decoration: none;

    &::before {
      content: "+1 234 555-55-55";
      position: relative;
      top: 50%;
      transform: translate(-100%, -50%);
      display: block;
      width: max-content;
      padding-right: 12px;

      color: #fff;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
    }

    &:hover::before {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-image: url(../images/header__background.jpg);
  background-size: cover;
  background-position: right;

  @include onTablet {
    background-position: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 28px 0 80px;
    height: 100vh;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 3px;

    @include onTablet {
      gap: 40px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: #fff;

    @include onTablet {
      font-size: 64px;
    }
  }
}

.logo {
  display: inline-flex;

  &__image {
    height: 38px;
    width: 130px;

    @include onTablet {
      height: 56px;
      width: 187px;
    }
  }
}
